<header class="site-header inicio">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a href="/">
                <img src="/images/img/logo.svg" alt="Logotipo de Bienes Raices">
            </a>

            <div class="mobile-menu">
                <a href="#navegacion">
                    <img src="/images/img/barras.svg" alt="Icono Menu">
                </a>
            </div>

            <nav id="navegacion" class="navegacion">
                <a href="/nosotros">Nosotros</a>
                <a href="#">Anuncios</a>
                <a href="#">Blog</a>
                <a href="/contacto">Contacto</a>
            </nav>
        </div>
        <h1>Venta de Casas y Departamentos Exclusivos de Lujo</h1>
    </div> <!-- contenedor -->
</header>